<li id="ma_menu" class="">
  <a href="#ma_tab" class="user-profile scroll-to" aria-expanded="false">
    MA LINE
  </a>
</li>
<li id="spi_menu" class="">
  <a href="#spi_tab" class="user-profile scroll-to" aria-expanded="false">
    SPI
  </a>
</li>
<li id="mounter_menu" class="">
  <a href="#mounter_tab" class="user-profile scroll-to" aria-expanded="false">
    MOUNTER
  </a>
</li>
<li id="reflow_menu" class="">
  <a href="#reflow_tab" class="user-profile scroll-to" aria-expanded="false">
    REFLOW
  </a>
</li>
